[defaults]
inventory = .lab/inventory.yml
roles_path = ansible/roles
collections_path = .collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
display_skipped_hosts = False

[ssh_connection]
pipelining = True
